{% extends 'q_registration/login.html' %}
{% load static %}

{%block title%}Восстановление пароля{%endblock%}
{%block content%}
    <h2>Измените пароль</h2>

    <form method="post">
        {%csrf_token%}
        <div class="enter_password">
            <div class="password1">
                {{form.new_password1}}
            </div>

            <div class="password_requirements">
                {{form.new_password1.help_text}}
            </div>

            <div class="password2">
                {{form.new_password2}}
            </div>
        </div>

        <div class="errors_block">
            {% for error in form.new_password2.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="reset">
            <button type="submit">Изменить</button>
        </div>
    </form>
{%endblock%}