.header_workplace, .project {
    background-color: #FDFBFC;
    height: 53px;
    margin-top: 25px;
    border-bottom: 2px solid #b7b7b7;
    display: flex;
    flex-direction: row;
    color: #000;
    justify-content: space-between;
    padding-right: 120px;
}

.project {
    margin-top: 0;
    padding-left: 60px;
}

.header_workplace #settings {
    margin-left: 15px;
}


#project::-webkit-progress-bar {
    background-color: #D9D9D9;
    height: 10px;
    width: 200px;
    border-radius: 5px;
    margin-top: 4px;
}