{%extends 'base.html' %}

{%block title%}
    {{ title }}
{%endblock%}

{%block content%}
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">
            {% if button %}
                {{ button }}
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
    {% block warning %}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    {% endblock %}
{%endblock%}