{% extends 'q_registration/login.html' %}
{% load static %}

{%block title%}Восстановление пароля{%endblock%}
{%block content%}
    <h2>Измените пароль</h2>

    <form method="post">
        <div class="enter_password">
            <div class="password1">
                <input type="text" placeholder="Пароль">
            </div>

            <div class="password_requirements">
                {{form.password1.help_text}}
            </div>

            <div class="password2">
                <input type="text" placeholder="Повторите пароль">
            </div>
        </div>

        <div class="reset">
            <button type="submit">Изменить</button>
        </div>
        
        {% for error in form.non_field_errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
    </form>
        </form>
{%endblock%}