{% extends 'q_registration/login.html' %}
{% load static %}

{%block title%}Восстановление пароля{%endblock%}
{%block content%}
        <h2>Восстановление пароля</h2>
        <br>Введите почту, к которой привязан Ваш аккаунт.</br> Мы отправим на почту письмо для подтверждения аккаунта
    <form method="post">
        {%csrf_token%}

        {%for field in form%}
        <div class="email">
            {{field}}
        </div>
        {%endfor%}

        <div class="reset">
            <button type="submit">Сохранить</button>
        </div>

    </form>
{%endblock%}
