<li>
    <details open>
        <summary>
            <a href="{% url 'team:department' company_id=company.id department_id=node.id %}">
                <div class="department">
                    <div id="title">
                        {{ node.title }}
                    </div>
                    <div id="supervisor">
                        {{ node.supervisor }}
                    </div>
                </div>
            </a>
        </summary>
        {% if node.childs %}
        <ul>
         {% for ch in node.childs.distinct %}
              {% with node=ch template_name='team\main_functionality\includes\tree_view_template.html'  %}
                   {% include template_name %}
              {% endwith %}
         {% endfor %}
         </ul>
        {% endif %}
    </details>
</li>