/*          
--------------------------------------------------------------------
	styles for body, wrapper, header
--------------------------------------------------------------------
*/
html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding: 24px 40px 24px 8px;
	background-image: linear-gradient(180deg, #2875E0, 
		rgba(53, 135, 225, 0.72), #00D4C8);
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	font-size:  20px;
	color: white;
	overflow-y: hidden;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.header{
	height: 50px;
	width: 100%;
	padding-left: 16px;
	display: flex;
	dlex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/*																			
--------------------------------------------------------------------
	styles for body, wrapper										
--------------------------------------------------------------------
*/

/*																			
--------------------------------------------------------------------
	styles for header, header_1										
--------------------------------------------------------------------
*/

.header_1{
	height: 100%;
	display: flex;
	dlex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.btn_burger{
	width: 25px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.button_burger{
	width: 25px;
	height: 14px;
}
.logo_header_of_quickbub{
	height: 100%;
	width: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 31px;
}
.name_header_of_quickhub{
	font-weight: 500;
	margin-left: 4px;
}
.edit_for_search_button{
	height: 100%;
	margin-left: 25px;
}
.edit_search_body{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding-left: 20px;
	padding-right: 20px;
}
::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder {
   color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder {
   color: rgba(255, 255, 255, 0.8);
}
:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.8);
}

.opened_1{
	width: 400px;
	transition-duration: 0.5s;
}
.closed_1{
	width: 150px;
	transition-duration: 0.5s;
}
.w50{
	width: 50px;
	transition-duration: 0.5s;
}
.w300{
	width: 300px;
	transition-duration: 0.5s;
}
/*																			
--------------------------------------------------------------------
	styles for header, header_1										
--------------------------------------------------------------------
*/

/*																			
--------------------------------------------------------------------
	styles for header, header_2										
--------------------------------------------------------------------
*/

.header_2{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.notifications_of_profile{
	height: 100%;
	width: 50px;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.messages_of_profile{
	height: 100%;
	width: 50px;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 18px;
}
.notifications_of_profile button{

	border-radius: 25px;
}
.messages_of_profile button{

	border-radius: 25px;
}
.notifications_of_profile button img{

	border-radius: 25px;
}
.messages_of_profile button img{

	border-radius: 25px;
}
.notifications_of_profile button:hover{

	background-color: rgba(255, 255, 255, 0.2);
}
.messages_of_profile button:hover{

	background-color: rgba(255, 255, 255, 0.2);
}
.profile_options_donw{
	width: 278px;
	height: 60px;
	margin-left: 22px;
}
.body_of_options_profile{
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.body_of_options_profile:hover{

	background-color: rgba(255, 255, 255, 0.2);
}
.icon_of_profile_header{
	width: 40px;
	height: 40px;
	margin-left: 9px;
	margin-right: 13px;
}
.name_of_person{
	
	margin-right: 9px;
}
.button_options_down{
	width: 16px;
	height: 7px;
}

/*																			
--------------------------------------------------------------------
	styles for header, header_2										
--------------------------------------------------------------------
*/
