.left_menu{
	width: 220px;
}
.left_menu nav{
	width: 220px;
}
.left_menu nav ul{
	width: 100%;
}
.left_menu_item_body{
	margin-bottom: 25px;
	width: 100%;
	height: 50px;
	border-radius: 10px; 
}
.left_menu_item_body:hover{
	background-color: rgba(255, 255, 255, 0.2);
}
.left_menu_item_body button{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.left_menu_item_body button img{
	margin-left: 16px;
}
.text_on_left_menu{
	margin-left: 27px;
}
._show{
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	opacity: 1;
}
._non_visible{
	transition-duration: 0.1s;
	opacity: 0;
}
._w200{
	transition-duration: 0.5s;
	width: 220px !important;
}
._w70{
	transition-duration: 0.5s;
	width: 61px !important;
}