.cards {
	display: flex;
	grid-template-columns: repeat(auto-fill, 225px);
	width: 100%;
	max-width: 1000px; 
	justify-content: left;
	justify-items: left; 
	column-gap: 30px; 
	row-gap: 40px;
	margin: 0px;
}

.card {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	transition: 0.2s;
	position: relative;
}
  
.card__top {
	flex: 0 0 50px; 
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
	background-color: #70c05b;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
    
.card__bottom {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto; 
	border-radius: 10px;
	font-size: 18px;
}

.card__add, .category__add {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-weight: 400;
	font-size: 17px;
	color: #75FF8B;
	padding: 10px;
	padding-left: 19px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s;
	margin-top: auto; 
	justify-content: left;
}
  
.card__add:hover {
	background-color: #ff6633;
	color: #fff;
}

.task {
	height: auto;
	max-height: 100%;
	margin-top: 7px;
	padding-bottom: 20px;
	background-color: #FFF;
	color: #000;
	border-radius: 10px;
	padding-left: 20px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.task:hover, .subtask:hover {
	box-shadow: 4px 8px 16px rgba(53, 4, 190, 0.192);	
}

.title_svg {
	margin-top: 13px;
	display: flex;
	flex-direction: row;
}

.add_pad {
	width: 18%;
	align-content: center;
	align-items: center;
}

.category__add:hover {
	border-radius: 25px 7px 7px 7px;
	background-color: #ff6633;
	color: #fff;
}

.executors {
	padding-top: 10px;
	padding-bottom: 10px;
}

.subtask {
	color: #FAFAFA;
	height: auto;
	background-color: #70c05b;
	border-radius: 5px 0px 0px 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.deadline {
	width: 50%;
	margin-top: 5px;
}

.deadline_row {
	padding: 5px;
	margin-left: 35px;
	border-radius: 20px;
	align-content: center;
}

#Overtimed {
	background-color: crimson;
}

#Today {
	background-color: rgb(220, 77, 20);
}

#Tomorrow {
	background-color: rgb(228, 144, 19);
}

#Week {
	background-color: rgb(220, 190, 20);
}

#Month {
	background-color: rgb(135, 199, 75);
}

#Not_soon {
	background-color: #70c05b;
}

#Permanent {
	background-color: #1c9dd8;
}

