{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles/style0.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/framework/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/framework/left_bar.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <container class="container">

        <header class="header">
            <div class="left_part">

                <button class="btn_burger"><img src="{% static 'img/header/burger.svg' %}" alt=none></button>

                <a href="#" class="logo_header">
                    <img src="{% static 'img/header/logo.svg' %}" alt=none>
                    QuickHub
                </a>

                <div class="search">
                    <img src="{% static 'img/header/header_search.svg' %}" alt=none>
                    <input type="text" placeholder="Искать">
                </div>

            </div>

            <div class="right_part">

                <a href="" class="notifications">
                    <img src="{% static 'img/header/notifications.svg' %}" alt=none>
                </a>

                <a href="" class="messages">
                    <img src="{% static 'img/header/messages.svg' %}" alt=none>
                </a>

                <button class="account">
                    <div class="profile">

                        <div class="profile_icon">
                            <img src="{% static 'img/header/icon_of_profile.svg' %}" alt=none>
                        </div>

                        <div class="name">
                            <p>Симонов Алексей</p>
                        </div>
                    </div>

                    <div class="arrow_down">
                        <img src="{% static 'img/header/arrow_down.svg' %}" alt=none>
                    </div>
                </button>

            </div>
        </header>


        <left_bar class="left_bar">

            <a href="#" class="my_tasks">
                <img src="{% static 'img/left_bar/my_tasks.svg'' %}" alt="#">
                Мои задачи
            </a>

            <a href="#" class="projects">
                <img src="{% static 'img/left_bar/projects.svg'' %}" alt="#">
                Проекты
            </a>

            <a href="{% url 'team:companies' %}" class="companies">
                <img src="{% static 'img/left_bar/companies.svg'' %}" alt="#">
                Компании
            </a>

            <a href="#" class="settings">
                <img src="{% static 'img/left_bar/settings.svg'' %}" alt="#">
                Настройки
            </a>

            <a href="#" class="support">
                <img src="{% static 'img/left_bar/support.svg'' %}" alt="#">
                Поддержка
            </a>


        </left_bar>

        <content class="content">
            {% block content %}
    {%endblock%}
        </content>

    </container>

</body>

</html>