{% extends 'team/base.html' %}
{% load static %}

{%block title%}QuickHub{%endblock%}

{%block content%}
    <p>{{ task.title }}</p>
    <p>
        {% if task.parent_id %}
            Родительская задача:    
            {{ task.parent_id.title }}
        {% endif %}
    </p>
    <p>
        {{ task.text }}
    </p>
    <p>
        Статус: {{ task.get_status_display }}
    </p>
    <p>
        Руководители:
        {% for employee in task.json_with_employee_info.appoint %}
            <img src="{% if employee.image %} {{ employee.image.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
            {{ employee }}
        {% endfor %}
    </p>
    <p>
        Ответственные лица:
        {% for employee in task.json_with_employee_info.responsible %}
            <img src="{% if employee.image %} {{ employee.image.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
            {{ employee }}
        {% endfor %}
    </p>
    <p>
        Исполнители:
        {% for employee in task.json_with_employee_info.executor %}
            <img src="{% if employee.image %} {{ employee.image.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
            {{ employee }}
        {% endfor %}
    </p>
    {% if task.subtasks.all %}
        Подзадачи:
        {% for subtask in task.subtasks.all %}
            <p>
                {{ subtask.title }}
            </p>
        {% endfor %}
    {% endif %}
    <p>
        {% if task.images.all %}
            Картинки:    
            {% for img in task.images.all %}
                <img src="{{ img.image.url }}" alt="picture">
            {% endfor %}
        {% endif %}
    </p>
    <p>
        {% if task.files.all %}
            Файлы:    
            {% for f in task.files.all %}
                {{ f.file }}
            {% endfor %}
        {% endif %}
    </p>
{%endblock%}