{% extends 'team/base.html' %}
{% load static %}

{%block title%}QuickHub{%endblock%}

{%block content%}
    {% for employee in employees %}
        {% for key, value in employee.items %}
            {% if key == 'image' %}
                <img src="{% if value %} {{ value.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
            {% elif key == 'telephone' %}
                {%if value %}
                    <p>{{value}}</p>
                {%else%}
                    <p>Телефон не указан</p>
                {%endif%}
            {% elif key == 'position_title' %}
                {%if value %}
                    <p>{{value}}</p>
                {%else%}
                    <p>Должность не указана</p>
                {%endif%}
            {%else%}
                <p>{{value}}</p>
            {%endif%}
        {% endfor %}
    {% endfor %}
    <a href="{% url 'team:choice_parameters' company_id=id%}" type="button">Settings</a>
{%endblock%}