{% extends 'team/base.html' %}
{% load static %}

{%block title%}QuickHub{%endblock%}

{%block content%}
    <p>{{ department.title }}</p>
    <p>
        Вышестоящий отдел:    
        {{ department.parent_id.title }}
    </p>
    <p>
        Директор: 
        <img src="{% if department.supervisor.image %} {{ department.supervisor.image.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
        {{ supervisor.name }}
        {{ supervisor.email }}
    </p>

    <p>
    {% for employee in employees %}
        <img src="{% if employee.image %} {{ employee.image.url }} {%else%} {% static 'img/header/icon_of_profile.svg' %} {% endif %}" alt="photo">
        {{employee.name}}
        {{employee.email}}
    {% endfor %}
    </p>
{%endblock%}