{% extends 'team/base.html' %}
{% load static %}

{%block title%}QuickHub{%endblock%}

{%block content%}
    <link href="{% static 'css/taskboard.css' %}" rel="stylesheet">
    {% for company in companies %}
        <a class="button" href="{% url 'team:company' company_id=company.id %}">
            <div class="company">
                {{ company.title }}
            </div>
        </a>
    {% endfor %}
    <div class="add_pad">
        <a href="{% url 'team:create_company' %}">
            <button class="category__add">
                <img src="{% static 'img/tasks/plus.svg' %}" style="margin-right: 12px;">
                <div class="button-text">
                    Создать компанию
                </div>
            </button>
        </a>
    </div>
{%endblock%}