.reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.touch_me{
    display: inline-flex;
    align-items: center;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    background: rgb(65, 95, 243);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    padding-inline: 40px;
}