{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'style0.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles/sign_in.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles/sign_up.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <container class="container">
        <left_part class="left_part">
            <img src="{% static 'img/login/background.svg' %}" alt="">
        </left_part>

        <content class="content">
            <h1>Авторизация</h1>
            <div class="create_account">
                <p>У вас нет аккаунта?</p>
                <a href="#">Создайте аккаунт</a>
            </div>

            <div class="account_name">
                <input type="text" placeholder="Логин">
                <img src="{% static 'img/login/login.svg' %}" alt="">
            </div>

            <div class="password">
                <input type="text" placeholder="Пароль">
                <img src="{% static 'img/login/password.svg' %}" alt="">
            </div>

            <div class="log_in">
                <button>Войти</button>

                <div class="remember_password">
                    <input type="checkbox" checked>
                    Запомнить пароль
                </div>

            </div>

            <a href="#" class = 'forgot_password'>Забыли пароль?</a>
        </content>



    </container>

</body>

</html>