<h1>Регистрация</h1>
            <div class="sign_up_account">
                <p>У Вас уже есть аккаунт?</p>
                <a href="#">Войти</a>
            </div>

            <form action="#" method="post">

                <div class="name">

                    <div class="first_name">
                        <input type="text" placeholder="Имя">
                    </div>

                    <div class="second_name">
                        <input type="text" placeholder="Фамилия">
                    </div>

                </div>

                <div class="email">
                    <input type="text" placeholder="Почта">
                </div>

                <div class="enter_password">
                    <div class="password1">
                        <input type="text" placeholder="Пароль">
                    </div>

                    <div class="password_requirements">
                        <li>Пароль должен содержать не менее 8 символов</li>
                        <li>Как минимум одна заглавная и одна строчная буква</li>
                        <li>Должна быть как минимум 1 цифра</li>
                        <li>Допускается наличие следующих символов: </li>
                    </div>

                    <div class="password2">
                        <input type="text" placeholder="Повторите пароль">
                    </div>
                </div>


            </form>

            <div class="agreement">
                Регистрируясь, вы подтверждаете, что принимаете <a href="#">Пользовательское соглашение</a> и <a
                    href="#">Согласие</a> на обработку персональных данных.
            </div>

            <div class="sign_up">
                <button type="submit">Зарегистрироваться</button>
            </div>

