{% extends 'registration/login.html' %}
{% load static %}

{%block title%} Log-in {%endblock%}
{%block content%}
    <h1>Авторизация</h1>
    <div class="create_account">
        <p>У вас нет аккаунта?</p>
        <a href="{% url 'registration:sign_up' %}">Создайте аккаунт</a>
    </div>
    <form action="{%url 'registration:login'%}" method="post">
        {%csrf_token%}
        <div class="account_name">
            {{form.username}}
            <img src="{% static 'img/login/login.svg' %}" alt="">
        </div>
        <div class="password">
            {{form.password}}
            <img src="{% static 'img/login/password.svg' %}" alt="">
        </div>
        {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
        {% endfor %}

        <div class="log_in">
            <button type="submit" value="login">Войти</button>

            <div class="remember_password">
                <input type="checkbox" checked>
                Запомнить пароль
            </div>
        </div>
    </form>
    <a href="#" class = 'forgot_password'>Забыли пароль?</a>
  <form action="{%url 'registration:login'%}" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" value="login">Login</button>
  </form>
{%endblock%}